h1 {
    text-align: center; 
    color: rgb(238, 225, 38); 
}
.visableContainer{
    display: none;
}
.imageContainer {
    border: 5px solid black;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    width:450px;
}
#container,div{
    display: flex;
    justify-content: center;
}
.picture {
    height: 100px;
    width: 100px;
    background-size: cover;
}
.pytanie {
    background-image: url("../images/pytanie.jpg") !important;
}
.noclick {
    pointer-events: none;
}
.invisible{
    background: white !important;
}
.Visable{
    display: block;
}
.ButtonNewGame{
    display: none;
}
.buttonstyle {
    border: 5px solid rgb(0, 0, 0);
    background: rgba(138, 138, 138, 0);
    height: 100px;
    width: 300px;
    margin-top: 200px;
    margin-left: 620px;
}
.pornphoto {
    background-image:url("../images/pornofota.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
